nav {
  background-color: #fffcf9;
  height: 100px;
  width: 100%;
  color: #6d435a;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.container {
  width: 80rem;
  max-width: 120rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5rem;
}
