nav {
  background-color: #a594ae;
  height: 150px;
  width: 100%;
  color: #fffcf9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 120rem;
  max-width: 120rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
